{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "jsx-a11y/label-has-for": 0,
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx"]}
    ],
    "react/prop-types": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error"
  },
  "globals": {
    "it": true,
    "fetch": true,
    "window": true,
    "location": true,
    "document": true,
    "navigator": true,
    "localStorage": true
  },
  "parser": "babel-eslint"
}